<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <span>
      <% for(let i = 0; i < data.length; i++) { %>
        id : <%= data.id %>
        name : <%= data.name %>
        age : <%= data.age %>
        password : <%= data.password %>
      <% } %>
    </span>
  </body>
</html>
